body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode body {
    background-color: #333;
    color: #fff;
}

.container {
    text-align: center;
    background-color: #67a5a2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.dark-mode .container {
    background-color: #444;
}

textarea {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.dark-mode textarea {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.dark-mode button {
    background-color: #555;
}

button:hover {
    background-color: #45a049;
}

.dark-mode button:hover {
    background-color: #4d944d;
}

#binaryOutput {
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.dark-mode #binaryOutput {
    background-color: #333;
    color: #fff;
    border-color: #555;
}
